body{

background:linear-gradient(120deg,#89f7fe,#66a6ff);
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:40px;
border-radius:10px;
width:420px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

input,textarea,select{

width:100%;
margin:10px 0;
padding:10px;
border-radius:6px;
border:1px solid #ccc;

}

textarea{
height:80px;
}

button{

width:100%;
padding:10px;
background:#007BFF;
color:white;
border:none;
border-radius:6px;
cursor:pointer;

}

button:hover{
background:#0056b3;
}

a{
display:block;
margin-top:10px;
text-align:center;
}